body{font-size: 12px; background: #F1EFE2; margin: 5px}
.row {margin-right: 0px; margin-left: 0px;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{ padding-right: 0px; padding-left: 0px; }
.lista-header { list-style-type: none; margin: 0; padding: 0; }
header{width: 100%; position: relative; float: left; background: #507AAA;}
header>.row{padding-left: 2.5px; padding-right: 2.5px; }
.panel-app{background: #2C4056;     margin-right: 0px;};
.titulo-app{color: #FFFFFF; margin-bottom: 5px;}
.lista-header>li>a{color: #FFFFFF; font-weight: 600}
.titulo-app>h1{margin-top: 10px;margin-bottom: 10px;padding-left: 5px;font-size: 25px; color: #FFFFFF;}
.btn{font-size: 12px !important; padding: 2px 5px 2px 5px; border-radius: 0px; background: #FBFBFB}
.modulos-app{color: #FFFFFF; margin-left: 5px;}
.lista-modulos>li>a{color: #FFFFFF; font-weight: 600; font-size: 13px;}
.lista-modulos{margin-bottom: 2.5px;}
.body-app{padding-left:10px; padding-right: 10px; margin-bottom: 10px;padding-bottom: 10px;background: #FFF; border-bottom: 3px solid #ddd; position: relative; float: left;width: 100%; padding-top: 10px;}
.modulos > h3{ font-size: 13px; margin-top: 14px;color: #666;font-weight: 600;}
.items > li > a{ font-size: 12px;}
.items {list-style: none; padding-left: 0px; line-height: 1.25;}
#menu-side{border-left: 2px solid #ddd;}
footer{color: #888; padding-left: 10px; padding-right: 10px;}
.color-rojo{color:#a94442;}
.color-warning{color: #8a6d3b;}
.color-success{color: #3c763d;}
.oculto{display: none}