<div class="row panel-app">
	<ul class="lista-header list-inline pull-left">
	    <li><a href="default.asp">Home</a></li>
	    <li><a href="news.asp">Ayuda</a></li>
	</ul> 
	<ul class="lista-header list-inline pull-right">
		<li><a href="default.asp">Pepe Valdivia</a></li>
		<li><a href="news.asp">Salir</a></li>
	</ul> 
</div>
<div class="row titulo-app">
	<h1 class="pull-left">Application</h1>
</div>
<div class="row modulos-app">
	<ul class="lista-modulos list-inline pull-left">
	    <li><a href="default.asp">Home</a></li>
	    <li><a href="news.asp">Ayuda</a></li>
	</ul> 
</div>